.content {
    padding: 20px;
}

.form {
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

input,
select {
    width: 50%;
    padding: 20px;
    margin-bottom: 16px;
    border: 3px solid #825405;
    border-radius: 4px;
}

button {
    background-color: #e5d2a5; 
    color: #000000; 
    border: none;
    padding: 15px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    font-size: 15px;
}

button:hover {
    background-color: #a84803; 
}

.button-back {
    background-color: #a84803; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
}

.button-back:hover {
    background-color: #000000; 
}