.book-container {
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.book-title {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 30px;
}

.book-info {
    margin-bottom: 50px;
    font-size: 20px;
}

.library-container {

    padding: 28px;
    border-radius: 10px;
    
    font-size: 15px;
   
    font-weight: bold;
    margin: -15px;
    color: #a84803;
}

.button-back {
    background-color: #a84803;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;

}


.button-back:hover {
    background-color: #000000;
}

button {
    background-color: #9c9687;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin: 10px;
}

button:hover {
    background-color: #a84803;
}