.book-container {
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.book-title {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 30px;
}

.book-info {
    margin-bottom: 16px;
    font-size: 20px;
}

.library-container {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #141414;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 20px;
}