.library-container {
    background-color: rgb(137, 143, 233); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px; 
}

.collection {
    font-weight: bold; 
    margin-bottom: 25px;
    font-size: 42px;
}

.location {

    font-size: 26px;
    margin-bottom: 18px;
    margin-top: 30px;
}


.book-container {
    background-color: #fff; 
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-top: 14px;
    font-size: 20px;
}


