.library-container {
     
    padding: 85px;
   
    width: 300px; 
    margin: 18px; 
}

h2 {
    margin: 70px; 
    margin-bottom: 34px; 
    font-size: 4.5rem; 
}


input {
    width: 85%;
    padding: 12px;
    margin-bottom: 8px;
    border: 1px solid #353535;
    border-radius: 4px;
    font-size: 20px;
}

button {
    background-color: #9c9687; 
    color: #fff; 
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
}

button:hover {
    background-color: #a84803; 
}

p {
    margin: 0; 
    margin-bottom: 8px;
    font-size: 25px;
}

.collection {
    font-weight: bold; 
}

.button-back {
    background-color: #a84803; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
}

.button-back:hover {
    background-color: #000000; 
}
