<div class="title">
    <h1>BIBLIOTECH</h1>
    <h3>L'outil d'optimisation de votre gestion bibliothécaire, <br> conçu pour simplifier vos tâches <br> et maximiser
        votre efficacité.</h3>
</div>

<div class="card-container">
    <div class="card">
        <h4>Liste des bibliothèques</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, in mollitia animi maxime aperiam doloremque officia unde natus quos asperiores, repudiandae accusantium saepe, minus ad magni nobis corrupti earum iusto?</p>
        <button routerLink="/library-list">Voir</button>
    </div>
    <div class="card">
        <h4>Liste des référentiels</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, in mollitia animi maxime aperiam doloremque officia unde natus quos asperiores, repudiandae accusantium saepe, minus ad magni nobis corrupti earum iusto?</p>
        <button routerLink="/book-list">Voir</button>
    </div>
    <div class="card">
        <h4>Détails du référentiel</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, in mollitia animi maxime aperiam doloremque officia unde natus quos asperiores, repudiandae accusantium saepe, minus ad magni nobis corrupti earum iusto?</p>
        <button routerLink="/book-one">Voir</button>
    </div>
    <div class="card">
        <h4>Détails d'une bibliothèque</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, in mollitia animi maxime aperiam doloremque officia unde natus quos asperiores, repudiandae accusantium saepe, minus ad magni nobis corrupti earum iusto?</p>
        <button routerLink="/library-one">Voir</button>
    </div>
    <div class="card">
        <h4>Ajout d'une bibliothèque</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, in mollitia animi maxime aperiam doloremque officia unde natus quos asperiores, repudiandae accusantium saepe, minus ad magni nobis corrupti earum iusto?</p>
        <button routerLink="/library-add">Voir</button>
    </div>
    <div class="card">
        <h4>Ajout d'un référentiel</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, in mollitia animi maxime aperiam doloremque officia unde natus quos asperiores, repudiandae accusantium saepe, minus ad magni nobis corrupti earum iusto?</p>
        <button routerLink="/book-add">Voir</button>
    </div>
    
</div>